{% extends 'bookmark_2/base.html' %}
{% block title %} list {% endblock%}
{% block content %}
<div class='container'>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">사이트명</th>
                        <th scope="col">URL</th>
                        <th scope="col">수정</th>
                        <th scope="col">삭제</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %} <!--listview는 object_list를 반환.-->
                    <tr>
                        <th scope="row">{{ obj.id }}</th>
                        <td><a href="{% url 'bookmark_2:detail' obj.id %}">{{ obj.site_name }}</a></td>
                        <td><a href="{{ obj.url }}">{{ obj.url }}</a></td>
                        <td><a href="{% url 'bookmark_2:update' obj.id %}">수정</a></td>
                        <td><a href="{% url 'bookmark_2:delete' obj.id %}">삭제</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'bookmark_2:create' %}" class="btn btn-primary">북마크 추가하기</a>
        </div>
    </div>

</div>
{% endblock %}